#Header {
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  border-bottom: 4px solid $color-tiffany-300;
  display: flex;
  justify-content: center;

  .logo-group {
    margin: 2% 0 1% 0;
    display: flex;
    justify-content: space-around;

    .logo {
      filter: $color-tiffany-300-filter;
    }

    .slogan {
      margin-left: 3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 120px;

      .slogan-ch {
        font-family: "Taipei Sans Bold";
        font-size: 18px;
        letter-spacing: 4px;
        color: $color-tiffany-300;
      }

      .slogan-en {
        letter-spacing: 0.09em;
        color: $color-gray-200;
      }
    }
  }
}
